
.add-info{
	/*background: -webkit-linear-gradient(left, #3931af, #68D6FE);*/
  background: url("../img/bg-4-2.jpg") no-repeat center fixed;
  color: black;
  /*opacity: 0.5;
  filter: alpha(opacity=50);*/ /* For IE8 and earlier */
}

.form-control{
	font-size: 13px;
}

